<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Jeff's App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, :class=>'btn btn-dark' %>
      </li>
      
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Profile', edit_user_registration_path, :class=>'btn btn-dark' %>
        </li>
        <li >
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#newEventModal">
            Add Event
          </button>
        </li>
        <li class="nav-item active">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class=>'btn btn-dark' %>
        </li>
      <% else %>
        <li >
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#signInModal">
            Sign In
          </button>
        </li>
        <li class="nav-item active">
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#signUpModal">
            Sign Up
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</nav>