<%# Navbar %>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Jeff's App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <% if user_signed_in? %>
        <a class="nav-item nav-link" href="/">Profile</a>
        <a class="nav-item nav-link" href="/events/new">Add Event</a>
        <a class="nav-item nav-link" > Logout
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </a>
      <% else %>
        <a class="nav-item nav-link" href="/users/sign_in">Sign In</a>
        <a class="nav-item nav-link" href="/users/sign_up">Sign Up</a>
      <% end %>
      
    </div>
  </div>
  </nav>
<div class="text-center">
    <h1>Welcome!</h1>
    <h2>See what's coming up</h2>
    <div>
    <% if user_signed_in? %>
        <span class="border border-primary rounded"> 
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </span>
    <% else %>
      <span class="border border-primary rounded"> <%= link_to 'Sign In', new_user_session_path %> </span>
      <span class="border border-primary rounded"><%= link_to 'Sign Up', new_user_registration_path %> </span>
    <% end %>
    </div>
</div>
<div class="container">
    <div class="calendar"></div>
</div>