<div class="card border-dark mb-3">
  <h2 class="card-header bg-info text-center">Upload A File</h2>
  <div class="card-body">
    <ul>
      <% @event.attachments.each do |attachment| %>
        <li><%= link_to event.attachment.original_filename_url %></li>
      <% end %>
    </ul>
    <%= form_with(model: @event, local: true) do |form| %>
      <div class="form-group">
        <%= form.file_field :attachment, multiple: true %>
      </div>
      <p>
        <button class="btn btn-info" type="submit">Upload</button>
      </p>
    <% end %>
  </div>
</div>